/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Spacing for button in carousel caption */
.carousel-btn {
    margin-top: 14px;
}

/* For sponsor logos */
.sponsor-logo-container {
    text-align: center;
}

.sponsor-logo {
    padding: 15px;
}

/* EC and Mentors pages */
.ec-description {
    display: inline-block;
}

.ec-photo {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.author-info{
    font-size: 17px;
}

.author-info .date{
    display: inline;
    float: right;
    position: relative;
    right: 700px;
}

.author-info .author{
    display: inline;
}

article{
    padding-top: 10px;
}
