/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbar {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.dropdown-menu {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

h1, h2, h3, h4, h5, h6, small {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

#rumble-button-div {
  padding: 20px;
  width: 10%;
  left: 0%;
  top: 10%;
  position: fixed;
  z-index: 694;
}

/* Spacing for button in carousel caption */
.carousel-btn {
    margin-top: 14px;
}

.front-page-thumb {
    padding: 0px 15px 15px;
}

/* For sponsor logos */
.sponsor-logo-container {
    text-align: center;
}

.sponsor-logo {
    padding: 15px;
}

.sponsor-text-sponsor-page {
    height: 120px;
    padding-top: 20px;
}

.sponsor-text-front-page {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* EC and Mentors pages */
.ec-description {
    display: inline-block;
}

.ec-photo {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.photo-left {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.photo-right {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* Footer nav style adapted from http://www.controlgroup.com/ */
.footer-nav {
  display: block;
  margin-top: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif
}
.footer-nav ul {
  list-style: none;
}
.footer-nav ul li:first-child {
  padding-left: 0;
  padding-right: 18px;
  border-right: 0px;
}
.footer-nav ul li {
  float: left;
  padding-left: 18px;
  padding-right: 18px;
  border-right: 1px solid #EEE;
  line-height: 24px;
}
.footer-nav ul li:last-child {
  padding-right: 0;
  border-right: 0;
}

/* Blog style */
.author-info{
    font-size: 17px;
    margin-top: -8px;
    padding-bottom: 10px;
}

article{
    padding-top: 10px;
}
