---
layout: default
title: Team 694
carousel:
    - img: /img/carousel/design-meeting.jpg
      caption-header: Robot design meeting at Whole Foods
      caption-body: Build Season - End of Week 2
---
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for item in page.carousel %}
            <div class="{% if forloop.first %}active {% endif %}item">
                <img src="{{ item.img }}">
                <div class="carousel-caption">
                    <h4>{{ item.caption-header }}</h4>
                    <p>{{ item.caption-body }}</p>
                    {% if item.read-more-link %}<a href="{{ item.read-more-link }}" class="btn carousel-btn">Read more <i class="icon-chevron-right"></i></a>{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>We're Stuypulse Robotics Team 694 of Stuyvesant High School, Manhattan.</h1>
    <p>Our award-winning student-run team engineers and programs robots from the ground up to compete at FIRST events.</p>
    <p><a class="btn btn-primary btn-large" href="/about/">Find out more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>2012's Robot</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>From Our Blog</h2>
        {% include latest-posts.html %}
        <p><a class="btn" href="/blog/">See more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Sponsors</h2>
        Stuypulse would like to thank our sponsors:
        <div class="sponsor-logo-container">
            <a href="#"><img class="sponsor-logo" src="http://placehold.it/160x120"></a>
        </div>
        <p><a class="btn" href="/sponsors/">All sponsors &raquo;</a></p>
    </div>
</div>
