---
layout: default
title: Team 694 - Stuyvesant High School's award winning FIRST Robotics team
---
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for item in site.data.carousel | limit: 5 %}
            <div class="{% if forloop.first %}active {% endif %}item">
                {% if item.read-more-link %}<a target="_blank" href="{{ item.read-more-link }}">{% endif %}
                <img src="{{ item.img }}" alt="{{ item.caption-header }}">
                {% if item.read-more-link %}</a>{% endif %}
                <div class="carousel-caption">
                    <h4>{{ item.caption-header }}</h4>
                    <p>{{ item.caption-body }}</p>
                    {% if item.read-more-link %}<a href="{{ item.read-more-link }}" target="_blank" >Read more <i class="icon-chevron-right"></i></a>{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="row">
    <div class="span8">
        <h1>Latest News</h1>
        {% for post in site.posts | limit: 5 %}
            <div class="post-preview">
                {% if post.link %}
                    <h3><a href="{{ post.link }}">&raquo; {{ post.title }}</a></h3>
                {% else %}
                    <h3><a href="{{ post.url }}">&raquo; {{ post.title }}</a></h3>
                {% endif %}
                <div class="author-info">By {{post.author}} on {{ post.date | date: "%A, %B %d, %Y"}} <span class="comment-count"><a href="{{ post.url | append: '/#disqus_thread' }}">&nbsp;</a></span></div>
                {{ post.content | split: "<!-- more -->" | first }}
                {% if post.content contains "<!-- more -->" %}
                    <p class="read-more"><a href="{{ post.url }}">Read more &raquo;</a></p>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
        <h4><a href="/blog/">See older posts &raquo;</a></h4>
    </div>
    <div class="span4">
        <h2>About StuyPulse</h2>
        <div class="sponsor-logo-container">
            <img class="front-page-thumb" src="/img/694-logo.png" alt="694 logo">
        </div>
        <p>We are StuyPulse, <a href="http://stuy.enschool.org/">Stuyvesant High School's</a> award-winning FIRST Robotics team. Otherwise known as Team 694, we seek to impact young adults by cultivating skills in engineering, programming, marketing, teamwork, and leadership through the FIRST competitions. At the same time, we hope to educate and inspire people in our community, both young and old, about the wonders of science and technology.</p>
        <p><a href="/about/">Learn more &raquo;</a></p>

        <h2>About FIRST</h2>
        <div class="sponsor-logo-container">
            <a href="http://www.usfirst.org/"><img class="front-page-thumb" src="/img/first-logo.png" alt="FIRST logo"></a>
        </div>
        <p><a href="http://www.usfirst.org/">FIRST</a> (For Inspiration and Recognition in Science and Technology) is a multi-national, non-profit organization designed to inspire and encourage today's youth to pursue careers in science, technology and math. These programs also stress the development of skills in areas such as teamwork, public relations, strategy, dedication, and outreach, which are helpful and often necessary in future careers and endeavors.</p>
        <p><a href="/about/first/">Learn more &raquo;</a></p>

        <h2>Sponsors</h2>
        We would like to thank our <a href="/sponsors/">sponsors</a>:
        <div class="flexslider sponsor-logo-container">
            <div class="slides">
                {% for sponsor in site.data.sponsors.sponsors %}
                    <div class="slide" style="display: none">
                        {% if sponsor.site %}<a href="{{ sponsor.site }}">{% endif %}
                        {% if sponsor.logo %}
                            <img class="sponsor-logo-image" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" src="{{ sponsor.logo }}">
                        {% else %}
                            <div class="sponsor-text-front-page"><h4><strong>{{ sponsor.name }}</strong></h4></div>
                        {% endif %}
                        {% if sponsor.site %}</a>{% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include disqus-count.html %}
