<footer>
    <div class="footer-nav">
        <ul>
            <li>&copy; {{ site.time | date: "%Y" }} StuyPulse</li>
            <li><a href="https://twitter.com/StuyPulse">Twitter</a></li>
            <li><a href="https://www.facebook.com/stuypulse">Facebook</a></li>
            <li><a href="https://www.instagram.com/stuypulse/">Instagram</a></li>
            <li><a href="https://www.youtube.com/user/stuy694">Youtube</a></li>
            <li><a href="https://github.com/StuyPulse">Github</a></li>
        </ul>
    </div>
</footer>
