            <footer>
                <div class="footer-nav">
                    <ul>
                        <li>&copy; {{ site.time | date: "%Y" }} StuyPulse</li>
                        <li><a href="http://firstconnects.us/">FIRSTConnects.Us</a></li>
                        <li><a href="http://firstthoughts.org/">FIRSTthoughts</a></li>
                        <li><a href="http://twitter.com/StuyPulseRobots">Follow</a></li>
                        <li><a href="http://www.facebook.com/pages/StuyPulse-Team-694/81277690973">Like</a></li>
                        <li><a href="http://www.youtube.com/stuy694">Subscribe</a></li>
                        <li><a href="https://github.com/team694">Fork</a></li>
                    </ul>
                </div>
            </footer>
