        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" data-proofer-ignore>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">StuyPulse</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown{% if page.url contains '/about/' %} active{% endif %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-proofer-ignore>About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/about/">About Us</a></li>
                                    <li><a href="/about/first/">About FIRST</a></li>
                                    <li><a href="/about/history/">History</a></li>
                                    <li><a href="/about/departments/">Departments</a></li>
                                    <li><a href="/about/ec/">Leadership</a></li>
                                    <li><a href="/about/mentors/">Mentors</a></li>
                                    <li><a href="/about/website/">Website</a></li>
                                </ul>
                            </li>
                            <li class="dropdown{% if page.url contains '/community/' %} active{% endif %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-proofer-ignore>Community <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/community/">Outreach</a></li>
                                    <li><a href="/community/projects/">Projects &amp; Demos</a></li>
                                    <li><a href="/community/alumni/">Alumni Association</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-proofer-ignore>Media <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://www.flickr.com/photos/stuypulse">Photos</a></li>
                                    <li><a href="http://www.youtube.com/stuy694">Videos</a></li>
                                </ul>
                            </li>
                            <li class="dropdown{% if page.url contains '/resources/' %} active{% endif %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-proofer-ignore>Resources <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/resources/">Documents &amp; Tutorials</a></li>
                                    <li><a href="/resources/publications/">Team Publications</a></li>
                                </ul>
                            </li>
                            <li{% if page.url == '/calendar/' %} class="active"{% endif %}><a href="/calendar/">Calendar </a></li>
                            <li{% if page.url contains '/blog/' %} class="active"{% endif %}><a href="/blog/">News </a></li>
                            <!-- <li{% if page.url == '/contact/' %} class="active"{% endif %}><a href="/contact/">Contact</a></li> -->
                            <li{% if page.url == '/sponsors/' %} class="active"{% endif %}><a href="/sponsors/">Sponsors </a></li>
                            <li id="donate"><a href="/donate/" >Donate</a></li>
                            <li><a href="/kickoff/">Mock Kickoff</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
