### Sponsorship Levels

#### Platinum <small>Highest Overall Sponsor</small>
Sponsor shall receive the honor of naming the robot and a custom-made “Thank You” plaque as well. Sponsors also have their name mentioned during every competition and in the Chairman’s video. Sponsors get their company name/logo placed on our website, annual T-shirt, and competing robot, along with an invitation to visit the robotics lab during build season. A "Thank You" package is included as well.

#### Gold <small>$10000+</small>
Sponsors shall receive a custom-made “Thank You” plaque. Sponsors also have their name mentioned during every competition and in the Chairman’s video. Sponsors get their company name/logo placed on our website, annual T-shirt, and competing robot, along with an invitation to visit the robotics lab during build season. A "Thank You" package is included as well.

#### Silver <small>$5000-$9999</small>
Sponsors shall have their name mentioned during every competition and in the Chairman’s video. Sponsors get their company name/logo placed on our website, annual T-shirt, and competing robot, along with an invitation to visit the robotics lab during build season. Sponsors also receive a "Thank You" package.

#### Bronze <small>$1000-$4999</small>
Sponsors shall have their company logo placed on the competing robot, and receive a “Thank You” package. Sponsors also get their company name/logo placed on our website, annual T-shirt, and competing robot, along with an invitation to visit the robotics lab during build season.

#### Aluminum <small>$500-$999</small>
Sponsors shall have their company name/logo on the back of the annual T-shirt. Sponsors also get their company name/logo placed on our website, along with an invitation to visit the robotics lab during build season.

#### Sheet Metal <small>$100-$499</small>
Sponsors shall have their company name/logo placed on our website, along with an invitation to visit the robotics lab during build season.

#### Nuts &amp; Bolts <small>$50-$99</small>
Sponsors shall receive a letter of appreciation.