### Sponsorship Levels

#### Platinum <small>Highest Overall Sponsor</small>
Sponsor shall receive the honor of naming the robot.

#### Gold <small>$10000+</small>
Contributors shall receive a thank you package and have their name mentioned during every competition and in the Impact Award video.

#### Silver <small>$5000-$9999</small>
Sponsors shall have their company logo placed on the competing robot.

#### Bronze <small>$1000-$4999</small>
Sponsors shall have their company name/logo on the back of the year’s T-shirt, along with an invitation to visit the robotics lab during build season.

#### Aluminum <small>$500-$999</small>
Sponsors shall have their company name/logo placed on our website for a year.