---
layout: page
title: Latest Posts
---
{% for post in paginator.posts %}
    <div class="post-preview">
        {% if post.link %}
            <h3><a href="{{ post.link }}">&raquo; {{ post.title }}</a></h3>
        {% else %}
            <h3><a href="{{ post.url }}">&raquo; {{ post.title }}</a></h3>
        {% endif %}
        <div class="author-info">By {{post.author}} on {{ post.date | date: "%A, %B %d, %Y"}} <span class="comment-count"><a href="{{ post.url | append: '/#disqus_thread' }}">&nbsp;</a></span></div>
        {{ post.content | split: "<!-- more -->" | first }}
        {% if post.content contains "<!-- more -->" %}
            <p class="read-more"><a href="{{ post.url }}">Read more &raquo;</a></p>
        {% endif %}
    </div>
    {% unless forloop.last %}
        <hr>
    {% endunless %}
{% endfor %}
<div class="pagination pagination-centered">
    <ul>
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <li><a href="/blog/">&laquo;</a></li>
            {% else %}
                <li><a href="/blog/page{{ paginator.previous_page }}/">&laquo;</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for count in (1..paginator.total_pages) %}
            {% if paginator.page == forloop.index %}
                <li class="active"><span>{{ count }}</span></li>
            {% elsif count == 1 %}
                <li><a href="/blog/">{{ count }}</a></li>
            {% else %}
                <li><a href="/blog/page{{ count }}/">{{ count }}</a></li>
            {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
            <li><a href="/blog/page{{ paginator.next_page }}/">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</div>
{% include disqus-count.html %}
