---
layout: page
title: Latest Posts
---
{% for post in site.posts %}
    <div class="post-preview">
        <h3><a href="{{ post.url }}">&raquo; {{ post.title }}</a></h3>
        <div class="author-info">By {{post.author}} on {{ post.date | date: "%A, %B %d, %Y"}}</div>
        <p>{{ post.content | split: "<!-- more -->" | first }}</p>
        {% if post.content contains "<!-- more -->" %}
            <p><a href="{{ post.url }}">Read more &raquo;</a></p>
        {% endif %}
    </div>
    {% unless forloop.last %}
        <hr>
    {% endunless %}
{% endfor %}
