<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>StuyPulse{% if page.title %} | {{ page.title }}{% endif %}</title>
        <meta name="description" content="{% if page.description%}{{ page.description}}{% else %}Team 694 is an award-winning FIRST robotics team from New York City. Find out about our team, its history, and view pictures and videos.{% endif %}">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <script type="text/javascript" src="//use.typekit.net/avp1hlh.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {% include navbar.html %}

        <div class="container">

            {{ content }}

            <hr>

            {% include footer.html %}

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

        {% if page.url == '/' %}
        <script>
            $(document).ready(function() {
                $('.carousel').carousel({
                    interval: 5000
                });
            });
        </script>
        <script src="/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript">
            $('.flexslider').flexslider({
                selector: ".slides > .slide",
                slideshowSpeed: 5000,
                randomize: true,
                controlNav: false,
                directionNav: false
            });
        </script>
        {% endif %}

        <script src="/js/vendor/bootstrap.min.js"></script>

        <script src="/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-37688252-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116192618-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-116192618-1');
        </script>

    </body>
</html>
