---
layout: default
description: Over the many years of its existence, StuyPulse has developed significantly, accomplishing much in terms of experience, awards and outreach.
---
<div class="row">
    <div class="span3">
        <ul class="nav nav-list">
            <li class="nav-header">Team History</li>
            {% assign history_pages = site.pages | where: 'layout', 'history' | sort: 'year' | reverse %}
            {% for p in history_pages %}
                {% if p.year %}
                    <li {% if page.year == p.year %}class="active"{% endif %}><a href="/about/history/{{ p.year }}/">{{ p.year }}: {{ p.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="span9">
        <h1>{% if page.year %}{{ page.year }}: {% endif %}{{ page.title }}</h1>
        {% if page.year %}
            <div class="row">
                <div class="span6">
                    <div class="well">
                        <div style="text-align: center">
                            {% if page.photo %}<img src="{{ page.photo }}" alt="{{ page.title }}">{% endif %}
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <h4>Additional Resources</h4>
                    <ul>
                        {% if page.source-link %}<li><a href="{{ page.source-link }}">{{ page.title }}'s source code</a></li>{% endif %}
                        <li><a href="https://www.thebluealliance.com/team/694/{{ page.year }}">{{ page.year }} season stats on The Blue Alliance</a></li>
                    </ul>
                    {% if page.flickr-collection-url %}
                        <h4>Photo Gallery</h4>
                        <ul>
                            <li><a href="{{ page.flickr-collection-url }}">{{ page.year }} photos on Flickr</a></li>
                        </ul>
                    {% endif %}
                    {% if page.youtube-links %}
                        <h4>Match Videos on YouTube</h4>
                        <ul>
                            {% for link in page.youtube-links %}
                                <li> <a href="{{link.url}}">{{link.name}}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="span9">
                {{ content }}
                {% if page.awards %}
                    <hr>
                    <h3>Awards</h3>
                    <ul>
                        {% for award in page.awards %}
                            <li>{{ award }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
