---
layout: default
---
<div class="row">
    <div class="span9">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </div>
    <div class="span3">
        <hr>
        {% if page.url == '/about/' %}
            {% include sidebar/about.html %}
        {% elsif page.url == '/about/departments/' %}
            {% include sidebar/departments.html %}
        {% elsif page.url == '/about/ec/' %}
            {% include sidebar/ec.html %}
        {% elsif page.url == '/about/mentors/' %}
            {% include sidebar/mentors.html %}
        {% elsif page.url == '/about/website/' %}
            {% include sidebar/website.html %}
        {% elsif page.url contains '/about/mentors/woodieflowers/' %}
            {% include sidebar/woodieflowersessay.html %}
        {% elsif page.url == '/about/website/' %}
            {% include sidebar/website.html %}
        {% elsif page.url == '/community/' %}
            {% include sidebar/outreach.html %}
        {% elsif page.url contains '/community/projects/' %}
            {% include sidebar/project.html %}
        {% elsif page.url contains '/resources/' %}
            {% include sidebar/resource.html %}
        {% else %}
            {{ page.sidebar-content }}
        {% endif %}
    </div>
</div>
