<h4>Learn More</h4>
<ul>
    <li><a href="/about/first/">About FIRST</a></li>
    <li><a href="/about/history/">Team History</a></li>
    <li><a href="/about/departments/">Departments</a></li>
    <li><a href="/about/ec/">Leadership</a></li>
    <li><a href="/about/mentors/">Mentors</a></li>
    <li><a href="/about/website/">About This Website</a></li>
    <li><a href="/downloads/teamdocs/PressPacket2014.pdf">Press Packet</a></li>
</ul>
<h4>Latest Posts</h4>
{% include latest-posts.html %}
